* {
  font-family: "Open Sans", sans-serif;
  outline: 0;
}

body {
  margin: 0 100px 50px 100px;
}

#header {
  margin-top: 20px;
}

label {
  display: inline;
  font-weight: normal;
}

.radio,
.checkbox {
  display: inline;
}

h1 {
  margin: 20px 0;
  font-size: 23px;
}

.table-form-required {
  color: red;
}

.btn-primary {
  background-color: #0075ff;
  border-color: #0075ff;
}

.lbl {
  margin-bottom: 5px;
  color: #888;
  font-size: 75%;  
}

.form-field {
  margin-bottom: 13px;
  width: 300px;
}